# Virtual environment
venv/
.env/
*.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# PyTorch / TensorFlow model weights
*.pth
*.pt
*.h5
*.ckpt

# Datasets (tùy bạn giữ hay bỏ)
data/
datasets/

# IDE configs
.vscode/
.idea/
